#calculator {
  position: absolute;
  margin-top: 5%;
  width: 25%;
}

.calculator-button {
  margin-right: 10%;
  border: 2px solid black;
  font-size: 400%;
}

.calculator-calculation {
  font-size: 400%;
}
