.message {
  color: red;
}

#youtube-player {
  margin-top:8%;
  width:80%;
}

.title-youtube-player {
  width: 50%;
}

.playlist {
  /*margin-top: 10%;*/
  width: 36%;
  padding-left: 5%;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  float: right;
}

.playlist-line {
  border-bottom: 1px solid grey;
  cursor: pointer;
  margin-bottom: 5%;
}

.playlist-line: hover {
  color: purple;
}

.playing-video-youtube {
  padding: 1%;
  width: 55%;
  float: left;
  border: 1px solid black;
}

.title-youtube-player {
  padding-top: 0;
}
