<div id="youtube-player">
  <div class="playing-video-youtube">

    <h2 class="title-youtube-player">
      youtube-player works!!!
    </h2>

    <search-bar #searchBar [linkFromList]="playlist.linkFromList"></search-bar>

    <view-area [videoUrl]="searchBar.videoUrl"></view-area>
    <button (click)="showLocalVar(searchBar)">Afficher le contenu de ma variable locale</button>
  </div>

  <div class="playlist">
    <playlist #playlist [videoUrl]="searchBar.videoUrl"></playlist>
  </div>
</div>
